.title{
	height: 100%;
	width: 100%;
}

h1{
	font-family: "PaddingtonSC";
	font-size: 72px;
	color:#4d4d4d;
}

h2{
	font-family: "Jura";
	font-style: bold;
	font-size: 57px;
	margin-bottom: -15px;
}

h4{
	font-family: "Jura";
	font-size: "38px";
	font-style: italic;
	letter-spacing: 1px;
	color: #808080;
	font-weight: 400;
}

p{
	font-size: 18px; 
	font-family: "Karla";
	line-height: 1.5;
}

section.title {
    /* title style */
    
    h1 {}
    
    h2 {}
    
    a {
        img {}
        span {}
    }
}

section.about {
    h4 {}
    
    p {}
}

section.portfolio {
    /* general portfolio style */
    
    h2 {}
    
    p {}
}

.project-list {
    li {}
    
    aside {}
}

.content {
    h3 {}
    h4 {}
    p {}
}

.portfolio__bees {
    /* specific portfolio style */
}